# {{ ansible_managed }}
[Unit]
Description=AI-Horde Backend Instance (port %i)
After=network-online.target{% if ai_horde_install_postgres | bool %} postgresql.service{% endif %}{% if ai_horde_install_redis | bool %} redis-server.service{% endif %}

Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ ai_horde_base_dir }}/src
EnvironmentFile={{ ai_horde_base_dir }}/.env
ExecStart={{ ai_horde_venv_dir }}/bin/python server.py {{ ai_horde_verbosity }} --horde {{ ai_horde_horde_type }} --listen {{ ai_horde_listen }} --port %i --waitress_threads {{ ai_horde_waitress_threads }} --waitress_connection_limit {{ ai_horde_waitress_connection_limit }}
Restart=always
RestartSec=5s
User={{ ai_horde_user }}
Group={{ ai_horde_group }}

# Security hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ ai_horde_base_dir }} {{ ai_horde_data_dir }}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
