[Unit]
Description=AI Horde Metrics Downsampling
After=network.target prometheus.service
Wants=network-online.target

[Service]
Type=oneshot
User={{ horde_stats_exporter_user }}
Group={{ horde_stats_exporter_user }}
WorkingDirectory={{ horde_stats_exporter_install_dir }}
ExecStart={{ horde_stats_exporter_install_dir }}/venv/bin/ai-horde-downsample \
  --source-tenant {{ horde_stats_exporter_downsample_source_tenant }} \
  --target-tenant {{ horde_stats_exporter_downsample_target_tenant }} \
  --mimir-url {{ horde_stats_exporter_downsample_mimir_url }} \
  --resolution {{ horde_stats_exporter_downsample_resolution }}
StandardOutput=append:{{ horde_stats_exporter_log_file }}
StandardError=append:{{ horde_stats_exporter_log_file }}

[Install]
WantedBy=multi-user.target
